/build/**
/public/**
/coverage/**
/docs/**
!/docs/.eleventy.js
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
!.eslintrc.js
server.js
jest.config.js 
remix.config.js
/app/session.server.js
/prisma/**
/app/utils/db.server.js