{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node", "plugin:cypress/recommended"],
  "env": {
    "jest": true
  },
  "overrides": [
    {
        "files": ["**/*.js", "**/*.jsx", "**/*.ts", "**/*.tsx"],
        "rules": {
            "react-hooks/exhaustive-deps": "off"
        }
    }
  ]
}
