{
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "plugin:cypress/recommended"
  ],
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": [
      1,
      {
          "extensions": [".js", ".jsx"]
      },
  ],
  "import/extensions": [0],
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "jsx-a11y/no-static-element-interactions": "off", 
    "no-restricted-exports": "off",
    "no-case-declarations":"off", 
    "jsx-a11y/click-events-have-key-events": "off",
    "react/destructuring-assignment":"off",
    "react/jsx-no-bind": "off",
    "react/jsx-props-no-spreading": "off",

  },
  "env": {
    "jest": true
  },
  "overrides": [
    {
      "files": [
        "**/*.js",
        "**/*.jsx",
        "**/*.ts",
        "**/*.tsx"
      ],
      "rules": {
        "react-hooks/exhaustive-deps": "off"
      }
    }
  ]
}