<!DOCTYPE html>
<html>
  <body style="font-family:'Helvetica';">
    {{> header}}
    <div style="padding: 35px 5px; text-align: center; max-width: 800px; margin: auto;">
      {{{ body }}}
    </div>
  </body>
  <footer>
    {{> footer}}
  </footer>
</html>