<footer style="background-color: rgb(32, 52, 73); padding: 20px 0px; color: white;">
  <div style="text-align: center;">
    <p>Contact: <a href="https://wizeline.slack.com/archives/C031D9DP7C2" style="color: white !important">WizeQ Slack Channel</a></p>
  </div>
</footer>