<header style="background-color: rgb(32, 52, 73); padding: 20px 0px; color: white;">
  <div style="text-align: center;">
    <img src="https://questions.wizeline.com/build/_assets/logo-white-OWKWHN6A.png" alt="Wizeline Questions" style="max-width: 80%"/>
  </div>
</header>