name: "Unit and Integration Tests"

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - uses: mirromutth/mysql-action@v1.1
      with:
        host port: 3307
        container port: 3307
        character set server: 'utf8mb4'
        collation server: 'utf8mb4_unicode_ci'
        mysql version: '8.0'
        mysql database: 'wizeq'
        mysql root password: wizeq_password
    - name: Install dependencies
      run: npm ci
    - name: Run unit tests
      run: npm run test:unit
    - name: Run integration tests
      run: npm run test:integration
    - name: Cypress run
      run: npm run test:cypress:run
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: my-artifact
        path: ./tests/cypress/videos/
